@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* => 1 rem = 10px*/
}

body {
  background-color: #f2f1f1;
}

.main {
  width: 100%;
  height: 100vh;
  box-shadow: 0 1rem 2.5rem rgb(0, 0, 0, 0.1);
}

.fundal {
  width: inherit;
  height: inherit;
  position: absolute;
}

.titlu {
  position: relative;
  max-width: 75%;
  height: auto;
  margin: auto;
  top: 35%;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  color: #f2f1f1;
  font-weight: 400;
  text-align: center;
}

#logo {
  width: 100%;
  height: auto;
}

/*BUTON CONTACT*/
.contact {
  position: relative;
  float: right;
  padding-top: 2%;
  padding-right: 3%;
}
.contact a {
  font-size: 3.2rem;
  font-family: "Montserrat", sans-serif;
  color: #f2f1f1;
  font-weight: 200;
  letter-spacing: -0.75px;
  text-decoration: none;
}
/* ANIMANTIE BUTON CONTACT*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #f2f1f1;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f2f1f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*GRID*/

.grid_container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 2fr 2fr;
  column-gap: 6rem;
  row-gap: 6rem;
  justify-items: center;
  justify-content: space-between;
  background-color: #f2f1f1;
  margin: 5rem 0;
  padding: 0 5rem;
  width: 100%;
  height: 75vh;
}

.buton {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 25px rgb(0, 0, 0, 0.1);
  position: relative;
}

.buton img {
  width: inherit;
  height: inherit;
  position: absolute;
}

.btn-text {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  text-align: center;
}
.buton h2 {
  font-size: 4.8rem;
  letter-spacing: -1px;
  font-family: "Montserrat", sans-serif;
  color: #f2f1f1;
  font-weight: 400;
}

.buton h3 {
  font-size: 3.2rem;
  letter-spacing: -1px;
  font-family: "Montserrat", sans-serif;
  color: #f2f1f1;
  font-weight: 400;
}

.buton a {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  color: #f2f1f1;
  font-weight: 200;
  letter-spacing: -0.75px;
  text-decoration: none;
  margin: 10px;
}

.fix-text {
  top: 24%;
}

@media (max-width: 1400px) {
  .main {
    height: 55vh;
  }

  .titlu {
    top: 35%;
  }

  .grid_container {
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
  }
}

@media (max-width: 770px) {
  h1 {
    font-size: 2.4rem;
  }

  .contact a {
    font-size: 2.4rem;
  }

  .buton h3 {
    font-size: 2.4rem;
  }

  .buton h2 {
    font-size: 3.2rem;
  }

  .buton a {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .main {
    height: 35vh;
  }

  .grid_container {
    height: 150vh;
  }

  .titlu {
    top: 25%;
  }
  .grid_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  h1 {
    font-size: 1.6rem;
  }

  .contact a {
    font-size: 1.6rem;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 1.2rem;
  }

  .contact a {
    font-size: 1.2rem;
  }

  .buton h3 {
    font-size: 1.4rem;
  }

  .buton h2 {
    font-size: 2rem;
  }

  .buton a {
    font-size: 1.2rem;
  }
}
