@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f2f1f1;
}

header {
  width: 100%;
  height: 15%;
  box-shadow: 0px 1.5rem 2.5rem rgb(0, 0, 0, 0.1);
  position: relative;
}

.border {
  position: absolute;
  width: 100%;
  border-top: 0.5rem solid #364fc7;
  z-index: 4;
}

.fundal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}

.logo {
  width: 60%;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 1.5rem 0;
  z-index: 3;
}

.main {
  margin: 2.5rem 0px 0px 0px;
}

section {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 10rem;
  padding: 4rem 12%;
}

h1 {
  font-size: 4.6rem;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  color: #364fc7;
  font-weight: 500;
  padding: 2rem 0 2rem 14rem;
}

h2 {
  font-size: 4rem;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  color: #364fc7;
  font-weight: 400;
  padding-bottom: 2rem;
}

.text {
  font-size: 3rem;
  letter-spacing: -0.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: justify;
}
.txt_1 {
  color: #364fc7;
}
.txt_2 {
  color: #f2f1f1;
  font-size: 2.7rem;
}

.content_align {
  padding: 0px 12%;
}
.accent {
  background-color: #364fc7;
  border-radius: 5px;
  margin: 4rem 0px;
  box-shadow: 0 2.5rem 2.5rem rgb(0, 0, 0, 0.1);
  padding: 4rem;
}

.fotos {
  display: flex;
  gap: 5%;
  margin: 4rem 0;
}

.fotos img {
  width: 35%;
  height: auto;
  margin: 0 auto;
}
.foto_1 {
  width: 100%;
  height: auto;
  border: 3rem solid #f2f1f1;
  margin: auto 0;
}

.foto_2 {
  width: 100%;
  height: auto;
  margin: auto 0;
}

.txt_size {
  font-size: 2.7rem;
}

.gama {
  padding-bottom: 4rem;
  border-bottom: 1rem solid #364fc7;
}

.gama h1 {
  padding-left: 34rem;
}

@media (max-width: 1025px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .foto_1,
  .foto_2 {
    margin: 3rem auto;
  }

  h1 {
    padding-left: 0;
  }

  .gama h1 {
    padding-left: 12%;
  }
}

@media (max-width: 500px) {
  .text {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 2rem;
  }

  .foto_1,
  .foto_2 {
    border: 1.5rem solid #f2f1f1;
  }
}
